.custom-button:hover {
    min-width: 50px;
    width: auto;
    height: 50px;
   letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 12px;
    background-color: rgb(100, 100, 100);
    color: rgb(100, 150, 150);
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    border: none;
    cursor: pointer;
  }